---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
import About from "@/components/sections/About.astro";
import Work from "@/components/sections/Expiriences.astro";
import Education from "@/components/sections/Education.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <About />
    <Work />
    <Projects />
    <Skills />
    <Education />
  </main>
</Layout>

<style>
  main {
    padding: 1.25rem;
  }

  @media (width >= 640px) {
    main {
      padding: 1.5rem;
    }
  }

  @media (width >= 768px) {
    main {
      padding: 2rem;
    }
  }

  @media (width >= 1024) {
    main {
      padding: 3rem;
    }
  }

  @media (width >= 1280) {
    main {
      padding: 4rem;
    }
  }
</style>
